
main {
    padding: 20px;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.pagina-chamados h3 {
    margin-bottom: 20px;
}

.pagina-chamados .bg-warning {
    background-color: #ffc107 !important;
}

.pagina-chamados .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.pagina-chamados .table th,
.pagina-chamados .table td {
    padding: 10px;
    vertical-align: middle;
}

.pagina-chamados .table th {
    background-color: #000000;
    color: #fff;
}

.pagina-chamados .table a {
    color: #007bff;
    text-decoration: none;
}

.pagina-chamados .table a:hover {
    text-decoration: underline;
}

