*{
    margin: 0;
    padding: 0;
}
.borda{
    border: 2px solid red;
}
:root{
    --primary-color: #000;
    --secundary-color: #b3b3b3;
    --third-color: #474040;
}

header {
    margin: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    position: sticky;
}

header nav {
    margin: -8px 8px -8px 8px;
    background: transparent;
}

header nav img {
    height: 40px;
}
